/*Body*/

body {
  background-color: black;
  font-family: 'Shojumaru', cursive;
}

* {
  /*outline: 1px solid orange;*/
}

/*Ryu*/

.main {
  background-color: #ffffff;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
  display: flex;
}

.ryu,
.ryu-ready,
.ryu-still,
.ryu-throwing,
.ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready,
.ryu-throwing,
.ryu-cool {
  display: none;
}

.ryu2 {
  background-repeat: no-repeat;
}

.ryu-ready {
  background: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background: url('../images/ryu-cool.gif');
}

/*Hadouken*/

.hadouken {
  background: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  top: 168px;
  left: 617px;
  z-index: 10;
}

/*Directions*/

.directions,
.cool-directions {
  font-size: 2.5rem;
}

.cool-directions {
  align-self: flex-end;
  padding-left: 1em;
}